<h1>About Me</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag  "https://via.placeholder.com/250x250", alt: "Profile Image" %>
  </div>

  <div class="col-md-8">
    <p>I'm a highly-capable fullstack developer familiar with both desktop and web development. I'm currently on my third year of Software Engineering at the 
    International University of Sarajevo. I've always had a knack for problem-solving, especially anything involving new tech. I would fiddle with it for hours, but
    I'd be damned I wouldn't figure it out, if nothing but for the "Eureka!" moment one gets after solving it. I apply this same approach to all my projects, no
    matter how small or silly they might be. The result is the right product, on time, and within budget. </p>
  </div>
</div>

