<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">My name's Ammar and I've been tinkering with technology ever since I was a kid and thought TVs had little people in them. To my disappointment,   
   the truth was a little more boring than that, but that didn't deter me from finding out how it <i>did</i> work. I'm not two and naïve anymore, 
   but the same curiosity fuels me to this day. 
    <p class="lead">
      <%= link_to  "Learn More", about_me_path, class: "btn btn-lg btn-secondary"%>
    </p>
  </main>
